@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

@import "_colours.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#lag {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 5000;
  pointer-events: none;
}

.selected {
  animation-name: pulseBorder !important;
  animation-iteration-count: infinite;

  position: relative;
}

@keyframes pulseBorder {
  from {
    border: solid 1px #0d0397;
  }
  to {
    border: solid 10px #0d0397;
  }
}

code {
  font-family: "Fira Code", monospace;
}

.test {
  height: 20px;
  width: 20px;
  background: #0d0397;
}

// body {
//   @media (prefers-color-scheme: dark) {
//     background-color: #1a1a1a;
//     color: #fafafa;
//   }
// }

.zoom-in-alert {
  position: absolute;
  top: 40vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  pointer-events: none;
}

.snacks {
  z-index: 5000;
}

.refresh-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1500;
}

.user-location {
  background: $primary;
  border-radius: 50%;
  height: 10px;
  width: 10px;

  box-shadow: 0 0 0 0 rgba($primary, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($primary, 0.7);
  }

  70% {
    transform: scale(1.3);
    box-shadow: 0 0 0 10px rgba($primary, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

@keyframes pulseSelected {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba($primary, 0.3);
  }

  70% {
    transform: scale(0.95);
    box-shadow: 0 0 0 10px rgba($primary, 0.6);
  }

  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba($primary, 0.6);
  }
}

.station-marker {
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-in-out;

  position: relative;

  &.selected {
    height: 48px;
    width: 48px;

    &::before {
      content: "";
      position: absolute;

      // below .selected
      z-index: -1;

      //
      transform: scale(0.95);
      box-shadow: 0 0 0 10px rgba($primary, 0.6);

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background: $primary;
      border-radius: 50%;
      height: 100%;
      width: 100%;

      box-shadow: 0 0 0 0 rgba($primary, 1);
      transform: scale(1);
      animation: pulseSelected 2s infinite;
      animation-delay: 500ms;
    }
  }

  & > img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}
